mat-sidenav {
  background-color: #f0f1f2;
  color: #000000;
  margin-top: 44px;
  padding: 7px;
}

mat-sidenav a {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  font-size: 14px;
  color: #000000;
  display: block;
}

mat-sidenav a:hover {
  color: #0d85e0;
  cursor: pointer;
}

.mat-drawer-container {
  position: static;
}
