<div class="makeItCenter">

    <mat-card class="mainCard" style="margin-top: 25px;">
      <form class="example-form">
        <h2 style="text-align: center;">Forgot Password?</h2>
        <br>
        <mat-form-field appearance="outline" class="cardFields">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email" required>
          <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
        <br>
        <div class="cardFields">
          <button class=btn-center mat-raised-button color="success" (click)="forgotPassword()">Login</button>
        </div>
      </form>
      <br>
      <mat-divider></mat-divider>
      <br>
      <div>
        <span style="float: right; color: #1976d2;" (click)="goToLogin()">Want to Login?</span>
      </div>
    </mat-card>
  
  </div>
  